#include <behaviors.dtsi> 
#include <dt-bindings/zmk/bt.h> 
#include <dt-bindings/zmk/keys.h> 
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4 #define SCROLL 5 #define NUM 6

&mt { flavor = "balanced"; quick-tap-ms = <300>; };

&lt { flavor = "balanced"; quick-tap-ms = <300>; };

/ { combos { compatible = "zmk,combos";

aa {
        bindings = <&bt BT_CLR>;
        key-positions = <30 38>;
    };
};

macros {
    to_layer_0: to_layer_0 {
        compatible = "zmk,behavior-macro-one-param";
        #binding-cells = <1>;
        bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        label = "TO_LAYER_0";
    };

    kaiten: new_macro {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&macro_press>, <&mkp MCLK &mkp RCLK>;
        label = "NEW_MACRO";
    };
};

behaviors {
    lt_to_layer_0: lt_to_layer_0 {
        compatible = "zmk,behavior-hold-tap";
        label = "LAYER_TAP_TO_0";
        bindings = <&mo>, <&to_layer_0>;
        #binding-cells = <2>;
        tapping-term-ms = <200>;
    };

    mouse_combo_pr: mouse_combo_pr {
        compatible = "zmk,behavior-combo-press-release";
        label = "MOUSE_COMBO_PR";
        #binding-cells = <0>;
        bindings = <&mkp BTN_MIDDLE &mkp BTN_RIGHT>;
    };
};

keymap {
    compatible = "zmk,keymap";

    MOUSE {
        bindings = <
            &trans  &trans     &trans              &kp LS(UP_ARROW)  &kp LS(PG_UP)      &trans         &trans     &trans     &trans     &trans
            &trans  &mkp LCLK  &kp LS(LEFT_ARROW)  &kp LS(DOWN)      &kp LS(RIGHT)      &trans         &mouse_combo_pr &mkp MB3   &mkp MB2   &trans
            &trans  &trans     &trans              &trans            &kp LS(PAGE_DOWN)  &trans         &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans
            &trans  &trans     &trans              &trans            &trans             &trans         &kp LS(PG_UP)  &kp LC(PG_UP)         &trans
        >;
    };
};

};

